
diary_project/.venv/
diary_project/config/__pycache__/
diary_project/config/urls/__pycache__/
diary_project/config/setings/__pycache__/
diary_project/db.sqlite3
diary_project/.mypy_cache/
diary_project/.pytest_cache/
.idea

diary_project/poetry.lock


diary_project/.env




